$background: #d7d2cb;
$audio-background: rgba(215, 210, 203, 0.7);
$shadow: rgba(0, 0, 0, 0.12);
$dark: #444444;
$light: #fff;
$red: #b84546;
$border-color: #424242;
  


.audio-player__container {
  background: $audio-background;
  margin: 50px auto;
  width: 100%;
  max-width: 1200px;
  height: 120px;
  box-shadow: 0 12px 24px 0 $shadow;
  
  display: flex;
  flex-direction: row;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  .file-path { 
    display: none;
  }
  .play-btn__container {
    width: 100px;
    .text {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      p {
        display: inline;
        width: 30px;
        margin: 0 auto;
        font-size: 12px;
        text-transform: uppercase;
        color: $dark;
        text-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
        &.play {
          text-align: right;
          color: $red;
        }
      }
    }
    .toggle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin: 0 auto;
      background-color: $dark;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
      transition: transform 1s;
      .rectangle {
        width: 6px;
        height: 38px;
        margin: 0 auto;
        background-color: #b84546;
      }
      &.playing {
        transform: rotate(45deg);
      }
      &.paused {
        transform: rotate(-45deg);
      }
    }
  }
  .scrubber__container {
    width: calc(90% - 100px);
    position: relative;
    padding: 0 12px;
    .dial {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      height: 95px;
    }
    .time-start {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      left:12px;
      @media screen and (max-width: 600px) {
        &.hide {
          visibility: hidden;
        }
      }
    }
    .time-end {
      position: absolute;
      top: 0;
      padding: 0;
      margin: 0;
      right:12px;
      @media screen and (max-width: 600px) {
        &.hide {
          visibility: hidden;
        }
      }
    }
    .scrubber__time--top {
      text-align: center;
      width: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      p {
        display: inline;
        margin: 0;
        &:after {
          content: '';
          display: block;
          width: 8px;
          height: 3px;
          background-color: $border-color;
          margin: 0 auto;
          opacity: 0.35;
        }
      }
      @media screen and (max-width: 600px) {
        .hide {
          visibility: hidden;
        }
      }
    }
    .scrubber__time--bottom {
      text-align: center;
      width: 80%;
      margin: 0 10%;
      .desktop {
        text-align: center;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        p {
          display: inline;
          margin: 0;
          &:before {
            content: '';
            display: block;
            width: 8px;
            height: 3px;
            background-color: $border-color;
            margin: 0 auto;
            opacity: 0.35;
          }
        } 
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      .mobile {
        display: none;
        p {
          display: inline;
          margin: 0;
          &:before {
            content: '';
            display: block;
            width: 8px;
            height: 3px;
            background-color: $border-color;
            margin: 0 auto;
            opacity: 0.35;
          }
        } 
        @media screen and (max-width: 600px) {
          text-align: center;
          width: 100%;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          flex-wrap: no-wrap;
          justify-content: space-around;
          align-items: center;
          align-content: center;
        }
      }
      @media screen and (max-width: 600px) {
        width: 60%;
        margin: 0 20%;
      }
    }
    .scrubber__scrubber--outer {
      width: 100%;
      .scrubber__scrubber {
        width: calc(100% - 14px);
        height: 6px;
        border-top: rgba(66, 66, 66, 0.5) 3px solid;
        border-bottom: rgba(66, 66, 66, 0.5) 3px solid;
        border-left: rgba(66, 66, 66, 0.5) 7px solid;
        border-right: rgba(66, 66, 66, 0.5) 7px solid;
        .scrubber__scrubber--start {
          position: absolute;
          width: 7px;
          height: 6px;
          top: 24px;
          left: 12px;
          background-color: $red;
        }
        .scrubber__scrubber--end {
          position: absolute;
          width: 7px;
          height: 6px;
          top: 24px;
          right: 12px;
          background-color: $red;
        }
      }
    }
  }
}